@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">H O R A T I O</p>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="Hamlet">
            <img src="~/Images/468px-Shakespeare.jpg" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="Quote">
            <p>
                <br/>
                <br />
                <br />
                "There are more things in heaven and earth, Horatio,

                Than are dreamt of in your philosophy."
                <br />
                <br />
                - William Shakespeare <br />
                Hamlet. Act 1, Scene 5. <br />
            </p>
        </div>        
    </div>
</div>